<footer class="footer has-cards">
  <div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; 2023 <a href="#" target="_blank">Debian Brasília</a>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://www.facebook.com/debianbrasiliaoficial/" class="nav-link" target="_blank">Facebook</a>
          </li>
          <li class="nav-item">
            <a href="https://salsa.debian.org/debian-brasilia-team" class="nav-link" target="_blank">GitLab</a>
          </li>
          <li class="nav-item">
            <a href="{{ "/blog.html" | prepend: site.baseurl }}" class="nav-link" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://salsa.debian.org/debian-brasilia-team/site/blob/main/LICENSE" class="nav-link" target="_blank">MIT License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
