---
layout: fixed-nav-default
---
<article class="post col-lg-8 col-md-8 col-sm-8 mx-auto pt-100">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
